.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 4rem;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.header h1 {
  align-self: center;
  align-items: center;
  color: #18222e;
}

.img{
  align-self: center;
  align-items: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14rem;
  height: 14rem;
}

.img img {
  height: auto;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: 80vh;
}



.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}

.row div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row div p {
  margin-right: 1rem;
}

.row div div {
  align-self: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem 0;
}

.btn {
    position: relative;
    display: block;
    padding: 10px 10px;
    width: 4rem;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  
    background-color: #e97b1b;
    color: #ffffff;
  
    transition: background-color 0.3s;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn:before {
    content: "";
  
    top: 50%;
    left: 50%;
  
    display: block;
    width: 0;
    padding-top: 0;
  
    border-radius: 100%;
  
    background-color: rgba(236, 240, 241, 0.3);
  
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
  }

.btnGet {
  position: relative;
  display: block;
  padding: 10px 10px;
  width: 4rem;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #31538f;
  color: #ffffff;

  transition: background-color 0.3s;
}

.btnGet > * {
  position: relative;
}

.btnGet:before {
  content: "";

  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btnGet:active:before {
  width: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}


.title {
  font-weight: bold;
}

.inp {
  width: 40%;
  padding: 10px 6px;
  background-color: #F3F3F4;
  border: none;
}